.config-wrapper {
  .flex {
    display: flex;
  }

  .Form__item {
    width: 100%;

    .Field {
      margin-left: 30px;
      width: 90%;
    }

    .Field .InstructionText {
      visibility: visible;
    }

    .custom-keys {
      margin-top: 20px;
      margin-left: 0;
    }
  }
  .tippy-wrapper {
    margin-right: 10px;
  }

  .Radio-wrapper {
    padding-top: 20px;
  }

  .custom-styles {
    margin-left: 20px;
  }

  .radio-button {
    margin-right: 20px;
  }

  .toggle-save-response {
    padding: 20px 10px;
  }

  .Select__value-container > div:nth-child(-n + 2) {
    pointer-events: none;
    cursor: alias;

    .Select__multi-value__remove {
      display: unset;
      display: none !important;
    }
  }

  .Select__option--is-disabled {
    cursor: not-allowed;

    .Checkbox {
      input {
        background-color: -internal-light-dark(
          rgba(239, 239, 239, 0.3),
          rgba(59, 59, 59, 0.3)
        );
        color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
        border-color: rgba(118, 118, 118, 0.3);
      }
    }
  }
}
