.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  cursor: -moz-grabbing;
}

.field-extension-wrapper {
  width: 100%;
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  margin-top: 14px;

  .no-selected-items {
    color: #647696;
    font-family: Inter;
    font-size: 14px;
    width: 250px;
    height: 16px;
  }

  .extension-content {
    border: 1px solid #a9b6cb;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;

    .box-header {
      padding: 5px 10px;
      border-bottom: 1px solid #edf1f7;
      display: flex;
      justify-content: space-between;
      height: 50px;
      .left-header {
        font-size: 12px;
        font-weight: bold;
        font-family: "Inter";
        letter-spacing: 0.01em;
        color: #475161;
        margin-left: 12px;
        vertical-align: middle;
        display: flex;
        align-items: center;
      }

      .viewToggler {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 10px;

        .select-view {
          svg {
            margin-right: 10px;
          }
          display: flex;
        }

        .Dropdown__menu--primary {
          left: -9.1875rem;
        }

        .Dropdown__menu__list__item:hover {
          background-color: #f5f5f5;
          color: #6c5ce7;

          svg {
            fill: #6c5ce7;
            path {
              fill: #6c5ce7;
            }
          }
        }

        .tippy-wrapper {
          margin-right: 5px;
        }

        .Dropdown__header {
          .ml-5 {
            margin-top: 5px;
          }
        }
      }
    }

    .card-view {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      overflow-y: scroll;
      margin-bottom: 10px;
      width: 100%;
      max-height: 339.5px;

      .category {
        width: 360px;
        margin: 10px;
        height: fit-content;
      }

      .grid-area {
        width: 100%;
      }

      .gridContainer {
        width: 100%;
        padding: 10px 10px 0 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-y: auto;

        & > :nth-child(odd) {
          margin-right: 20px;
        }
      }
      .product {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        border: 1px solid #f5f5f5;
        box-sizing: border-box;
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }

      .product:hover {
        box-shadow: 0 8px 20px rgba(34, 34, 34, 0.1);
      }

      .product-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        width: 203px;
        height: 173px;

        .product-name {
          font-family: Inter;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.3;
          letter-spacing: 0.02em;
          color: #475161;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: 5px;
        }

        .product-desc {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 13px !important;
          line-height: 155%;
          width: 100%;
          color: #475161;
          margin-top: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      .product-image {
        width: 156px !important;
        height: 100%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      .ActionTooltip {
        height: 173px;
        width: 360px;
        margin-bottom: 20px;
        cursor: -webkit-grabbing;
        cursor: grabbing;
        cursor: -moz-grabbing;
        border-radius: 12px;
      }

      .ActionTooltip:hover {
        background-color: white;
      }

      .ActionTooltip__actions {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: fit-content;
      }

      .divider {
        position: relative;
        width: 0;
        left: 0.5px;
        top: 0;
        bottom: 0;
        height: 100%;
        border: 1px solid #f5f5f5;
      }
    }

    .list-view {
      height: fit-content;
      .TablePanel {
        display: none;
      }

      .Table {
        min-height: 203px;
        max-height: 340px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top: 0;
        .listContainer {
          overflow-y: auto;
        }

        .Table__body {
          height: auto;
          min-height: 203px;
          max-height: 300px;
          width: 100%;
          overflow: auto;
          direction: ltr;

          .Table__body__row {
            height: 60px;
            width: 100%;
          }

          .ActionTooltip {
            cursor: -webkit-grabbing;
            cursor: grabbing;
            cursor: -moz-grabbing;

            &:active {
              cursor: -webkit-grabbing;
              cursor: grabbing;
              cursor: -moz-grabbing;
            }
          }
        }
      }
    }
  }

  .add-product-btn {
    margin: 30px 0;
  }
}

.deleteModalBody {
  font-family: Inter;
  p {
    color: #222;
  }
  span {
    font-weight: 600;
  }
}

.list-item {
  display: flex;
  flex-direction: row;

  .item-name {
    display: inline-block;
  }

  .item-price {
    display: inline-block;
  }
}

.main {
  display: none;
}

#loader {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}
