.Select {
  margin-bottom: 20px;
  height: fit-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-center {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noProducts {
  color: #647696;
  font-family: Inter;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.sidebar-widget-wrapper {
  margin-top: 20px;

  .product-image {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }
  .detail-group {
    font-family: Inter;
    font-style: normal;

    .label {
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      color: #a9b6cb;
      margin-bottom: 10px;
    }
    .value {
      font-weight: normal;
      font-size: 14px !important;
      line-height: 17px !important;
      color: #222222 !important;
      margin-bottom: 20px;
      margin-right: 10px;

      * {
        margin: 10px 0 !important;
      }

      img,
      iframe {
        width: 100%;
        height: auto;
      }

      table,
      th,
      td {
        border: 1px solid #222 !important;
        border-collapse: collapse !important;
      }

      a {
        pointer-events: none;
      }
      a[rel] {
        pointer-events: all;
      }

      sup,
      sub {
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        font-size: 10px !important;
      }
      sub {
        top: 0.4em;
      }

      p,
      div {
        font-weight: normal;
        font-size: 14px !important;
        line-height: 17px !important;
        color: #222222 !important;
        margin-bottom: 20px;
        text-align: left !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        font {
          font-size: 14px !important;
        }
      }
      ul {
        li {
          display: list-item;
          list-style-type: disc;
        }
      }
      ol {
        li {
          display: list-item;
          list-style-type: decimal;
        }
      }
    }
  }
}
